.intro {
  position: relative;
  .intro-text {
    opacity: .95;
    background-color: $secondary;
    color: $primary;
    .intro-button {
      a {
        color: $secondary;
      }
    }
  }
  @media (min-width: 992px) {
    .intro-img {
      width: 75%;
      float: right;
    }
    .intro-text {
      left: -50px;
      width: 30%;
      margin-top: 3rem;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 30%;
      left: -50px;
    }
  }
}
